.accordionCard {
  margin-top: -30px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 16px 22px rgba(0, 0, 0, 0.06);
  &__header {
    background-color: getColour(tertiary);
    border-radius: 10px;
  }
  &__body {
    padding: 1rem 2rem;
  }
  .show {
    border-top: 1px solid getColour(primary);
  }
}

.shareIconsAccordion {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 1rem;
  justify-content: center;
  & p {
    margin-right: 0.5rem;
    color: getColour(links);
    font-weight: 500;
  }
  & .fa-facebook-f,
  .fa-twitter {
    margin: 0 0.5rem;
    font-size: 1.25rem;
    color: getColour(links);
  }
}

.accordion {
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.btn-link {
  color: getColour(primary);
  text-decoration: none;
  font-size: 1.25rem;
  width: 100%;
  text-align: left;
  &:hover {
    color: getColour(primary);
  }
}
