.footer {
  color: getColour(secondary);
  background-color: getColour(input);
  flex-shrink: 0;
  margin-top: 4rem;
  padding-top: 1rem;
  &__icons {
    text-align: center;
    margin-bottom: 1rem;
    &--i {
      font-size: 1.5rem;
      margin: 5px;
    }
  }
  &__links {
    display: flex;
    justify-content: space-between;
    &--p {
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__links {
    width: 55%;
  }
  .footer__icons {
    width: 40%;
    text-align: left;
  }
}
