.contactForm {
  background-color: getColour(tertiary);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.04);
  padding: 1rem 2rem;
  border-radius: $border-radius;
  margin-top: 2rem;
  margin-bottom: 3rem;
  &__label {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
  &__website {
    display: flex;
    &--prepend {
      width: 80px;
    }
  }
}

.form-check-label {
  font-weight: 500;
  margin-left: 1rem;
}
.form-check {
  margin-top: 1rem;
}

.form-check-input[type="checkbox"] {
  background-color: getColour(primary);
  border-color: getColour(primary);
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0;
  &:focus {
    box-shadow: none;
  }
}

.btn-disabled {
  background-color: getColour(secondary);
  color: white;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.375rem;
  font-weight: 500;
  &:hover {
    color: white;
  }
}
