html,
body {
  height: 100%;
}

body {
  font-family: $font-primary;
  color: #767676;
  background: $colour-background;
  margin: 0;
}

.wrapper {
  flex: 1 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  flex-shrink: 0;
}
