.navbar {
  &__brand {
    font-family: $headings-font-family;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    margin-right: 3rem;
  }
}

.navbar-light .navbar-brand {
  color: getColour(primary);
  &:hover {
    color: getColour(primary);
  }
}

.navbar-toggler {
  border: none;
  color: getColour(secondary);
  &:focus {
    box-shadow: none;
  }
}

.nav {
  &__link {
    color: getColour(links);
    font-size: 1rem;
    margin: 5px 0;
    padding: 2px 10px;
    text-decoration: none;
    &.active {
      background-color: getColour(input);
      border-radius: $border-radius;
    }
    &:hover {
      color: getColour(links);
      background-color: white;
      border-radius: $border-radius;
    }
  }
}

.searchForm {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  &__input {
    border-radius: $border-radius 0 0 $border-radius;
  }
  & button {
    color: getColour(input);
    border-radius: 0 $border-radius $border-radius 0;
  }
}
