.navbar-light .navbar-brand {
  color: $primary;
  font-family: $font-headings;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
}

.navbar-collapse {
  justify-content: space-between;
}

.active {
  background-color: white;
  border-radius: 3px;
}

.bg-light {
  --bs-bg-opacity: 0;
}
