.pagination {
  margin: 2rem 0;
}
.page-link {
  color: getColour(primary);
  border-color: getColour(primary);
  &:hover {
    color: white;
    background-color: getColour(primary);
    border-color: getColour(primary);
  }
}

.page-item.active .page-link {
  background-color: getColour(primary);
  border-color: getColour(primary);
}
