.tabBlock {
  margin-top: 4rem;
}
.nav-tabs {
  border-bottom: none;
}
.tab-content {
  background-color: getColour(input);
  padding: 2rem;
  border-radius: 0 10px 10px 10px;
  margin-bottom: 8rem;
  border: 1px solid #d1d1d1;
  box-shadow: 0 16px 22px rgba(0, 0, 0, 0.06);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: getColour(secondary);
  background-color: getColour(input);
  border: 1px 1px 0 1px solid #d1d1d1;
  border-radius: 10px 10px 0px 0px;
}

.nav-link {
  color: getColour(primary);
  font-size: 1.25rem;
  border-radius: 10px 10px 0px 0px;
  border: none;
  &:hover {
    color: getColour(primary);
    background-color: getColour(input);
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
  }
}

.shareIconsTabs {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  & p {
    margin-right: 0.5rem;
    color: getColour(links);
    font-weight: 500;
  }
  & .fa-facebook-f,
  .fa-twitter {
    margin: 0 0.5rem;
    font-size: 1.25rem;
    color: getColour(links);
  }
}
